<div class="ps-4 pt-4">
  <h4 class="bg-light ps-2 py-2">Kiralamalar</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Marka</th>
        <th scope="col">Müşteri</th>
        <th scope="col">Kiralama Tarihi</th>
        <th scope="col">Kiradan Dönme Tarihi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rentalDetail of rentalDetails" class="text-capitalize">
        <td>{{ rentalDetail.rentalId }}</td>
        <td>{{ rentalDetail.brandName }}</td>
        <td>{{ rentalDetail.customerName }}</td>
        <td>{{ rentalDetail.rentDate }}</td>
        <td *ngIf="rentalDetail.returnDate!=null">{{ rentalDetail.returnDate }}</td>
        <td *ngIf="rentalDetail.returnDate==null">kirada</td>
      </tr>
    </tbody>
  </table>
</div>
